@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  * {
    @apply outline-none duration-500 cursor-default;
  }
  .myContainer {
    @apply w-[90%] mx-auto;
  }
  .btn {
    @apply rounded-full px-8 py-[10px] md:hover:scale-110 cursor-pointer;
  }
  .section-heading {
    @apply font-semibold text-gradient text-xl md:text-2xl lg:text-3xl ls-vsm;
  }
  .line-link {
    @apply text-[#55c57a] border-b-[1px] border-[#55c57a] cursor-pointer;
  }
  .circle {
    @apply rounded-full w-24 h-24 overflow-hidden float-left mr-4 relative;
    shape-outside: circle(50%);
  }
  .circle > img {
    @apply scale-125 duration-700;
  }
  .circle:hover > img {
    @apply scale-100;
  }
  .circle > p {
    @apply absolute left-1/2 -translate-x-1/2 translate-y-[100%] opacity-0 duration-1000;
  }
  .circle:hover > p {
    @apply top-1/2 -translate-y-1/2 opacity-100;
  }
  input {
    @apply cursor-auto;
    accent-color: #55c57a;
  }
  input:placeholder-shown + label {
    @apply opacity-0;
  }
  .form-element {
    @apply block w-full p-2 rounded-md;
  }
  nav,
  #book {
    background: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 1),
      rgba(40, 180, 133, 1)
    );
  }
  #book .myContainer {
    background-image: linear-gradient(
        105deg,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 55%,
        transparent 55%
      ),
      url(../img/nat-10.jpg);
  }
  @media screen and (max-width: 640px) {
    #book .myContainer {
      background-image: linear-gradient(
          rgba(255, 255, 255, 0.9),
          rgba(255, 255, 255, 0.9)
        ),
        url(../img/nat-10.jpg);
    }
  }
  header {
    background: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.8),
        rgba(40, 180, 133, 0.8)
      ),
      url(../img/hero.jpg);
  }
  #features {
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.8),
        rgba(40, 180, 133, 0.8)
      ),
      url(../img/nat-4.jpg);
  }
  .ls-lg {
    letter-spacing: 2.5rem;
  }
  .ls-md {
    letter-spacing: 1.85rem;
  }
  .ls-sm {
    letter-spacing: 1.2rem;
  }
  .ls-vsm {
    letter-spacing: 0.2rem;
  }
  .text-gradient {
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    @apply bg-clip-text text-transparent;
  }
  ::-webkit-scrollbar {
    @apply w-2;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-[#55c57a];
  }
  ::-webkit-scrollbar-track {
    background: rgba(85, 197, 122, 0.5);
  }
}
