@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  * {
    @apply outline-none duration-500;
  }
  .myContainer {
    @apply w-[90%] mx-auto;
  }
  .btn {
    @apply rounded-full px-8 py-[10px] md:hover:scale-110 cursor-pointer;
  }
  .section-heading {
    @apply font-semibold text-gradient text-xl md:text-2xl lg:text-3xl ls-vsm;
  }
  .line-link {
    @apply text-[#55c57a] border-b-[1px] border-[#55c57a];
  }
  input {
    accent-color: rgba(40, 180, 133, 1);
  }
  .form-element {
    @apply block w-full p-2 rounded-md;
  }
  #book {
    background: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 1),
      rgba(40, 180, 133, 1)
    );
  }
  #book .myContainer {
    background-image: linear-gradient(
        105deg,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 55%,
        transparent 55%
      ),
      url(../img/nat-10.jpg);
  }
  @media screen and (max-width: 640px) {
    #book .myContainer {
      background-image: linear-gradient(
          rgba(255, 255, 255, 0.9),
          rgba(255, 255, 255, 0.9)
        ),
        url(../img/nat-10.jpg);
    }
  }
  header {
    background: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.8),
        rgba(40, 180, 133, 0.8)
      ),
      url(../img/hero.jpg);
  }
  #features {
    background: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.8),
        rgba(40, 180, 133, 0.8)
      ),
      url(../img/nat-4.jpg);
  }
  .tours-card:nth-child(1) {
    background: linear-gradient(to right bottom, #ffbb00, #ff7730),
      url(../img/nat-5.jpg);
    background-position: center;
    background-blend-mode: screen;
    background-size: cover;
    /* 285,187,0 */
  }

  .ls-lg {
    letter-spacing: 2.5rem;
  }
  .ls-md {
    letter-spacing: 1.85rem;
  }
  .ls-sm {
    letter-spacing: 1.2rem;
  }
  .ls-vsm {
    letter-spacing: 0.2rem;
  }
  .text-gradient {
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    background-clip: text;
    color: transparent;
  }
}
